:root {
  --white: #fbfbfb;
  --black: #151419;
  --light-black: #1b1b1b;
  --dark-grey: #262626;
  --grey: #878787;
  --light-grey: #f4f4f4
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial;
}

html {
  min-width: 5rem;
}

body {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  min-width: 5rem;
  justify-content: center;
  align-items: center;
  background: var(--light-grey);
}

.errorlist {
  all: unset;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  list-style-type: none;
}

.errorlist li {
  display: block;
  width: 100%;
  border: 1px solid var(--grey);
  border-radius: .75rem;
  background: var(--light-grey);
  color: var(--grey);
  margin-bottom: .25rem;
  padding: .25rem .5rem;
  min-height: 3rem;
}

.errorlist:last-child {
  margin-bottom: 0.25rem;
}

/* Стилизация элемента кнопки */
.btn {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  min-width: 9rem;
  height: 2.25rem;
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 1rem;
  font-family: inherit;
  color: var(--white);
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  background: linear-gradient(0deg, var(--black), var(--dark-grey));
}

.btn:hover {
  text-shadow: 0 0 4px var(--white);
}

.btn:focus {
  text-shadow: 0 0 4px var(--white);
}

.btn:active {
  text-shadow: none;
}

.btn[disabled] {
    color: var(--white);
    background: var(--grey);
    cursor: not-allowed;
    text-shadow: none;
}

.lnk:link {
  all: unset;
  font-size: 1rem;
  color: var(--dark-grey);
  cursor: pointer;
}

.lnk:visited {
  color: var(--grey);
}

.lnk:hover {
  text-decoration: underline;
  color: var(--dark-grey);
}

.lnk:active {
  color: var(--grey);
}

.toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

   position: relative;
   display: inline-block;
   width: 3rem;
   height: 1.5rem;

   margin: 0;
   vertical-align: top;
   background: var(--white);
   border: 1px solid var(--black);
   border-radius: 2rem;
   outline: none;
   cursor: pointer;
   transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

.toggle:focus {
  box-shadow: 0 0 0px 1px var(--black);
}

.toggle[disabled] {
  background: transparent;
  border: 1px solid var(--grey);
}
.toggle[disabled]::after {
  background: var(--grey);
}

.toggle::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 1.5px;
  top: 1px;
  width: 1.3rem;
  height: 1.3rem;
  background-color: var(--black);
  border-radius: 50%;
  transform: translateX(0);
  transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

.toggle:checked::after {
  transform: translateX(calc(100% + 1.5px));
  background-color: var(--white);
}
.toggle:checked {
  background-color: var(--black);
}

.form-field-textarea {
  all: unset;
  appearance: none;
  min-width: 9rem;
  padding: calc(1rem/3) 1rem;
  border: 1.5px solid var(--black);
  border-radius:  0.75rem;
  background: transparent;
  color: var(--dark-grey);
  max-height: 4rem;
  line-height: 1.4;
  text-rendering: auto;
  resize: none;
  text-wrap: nowrap;
  white-space-collapse: preserve;
  overflow-wrap: break-word;
  overflow-y: hidden;
  flex-grow: 1;
}

.form-field-textarea:focus {
  box-shadow: 0 0 0px 1px var(--dark-grey);
}

.form-field-textarea::placeholder {
  color: var(--grey);
  font-size: 0.95rem;

}

.form-field-text {
  all: unset;
  appearance: none;
  min-width: 9rem;
  flex-grow: 1;
  padding: calc(1rem/3) 1rem;
  border: 1.5px solid var(--black);
  border-radius:  0.75rem;
  background: transparent;
  color: var(--dark-grey);
  max-height: 2rem;
}

.form-field-text:focus {
  box-shadow: 0 0 0px 1px var(--dark-grey);
}

.form-field-text::placeholder {
  color: var(--grey);
  font-size: 0.95rem;

}

.form-field-checkbox {
  all: unset;
  appearance: none;
  box-sizing: border-box;
  padding: 0.5rem;
  border: 1.5px solid var(--black);
  border-radius: 3px;
  vertical-align: text-top;
  position: relative;
  cursor: pointer;
  background: transparent;
  color: var(--dark-grey);
  max-height: 2rem;
}

.form-field-checkbox:hover {
  box-shadow: inset 0 0 4px 0px var(--dark-grey);
}

.form-field-checkbox:focus {
  box-shadow: 0 0 0px 1px var(--dark-grey);
}

.form-field-checkbox::before {
  position: absolute;
  vertical-align: text-top;
  top: -3px;
  left: 2px;
  content: "✔";
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.1s ease-out;
}

.form-field-checkbox:checked::before {
  opacity: 1;
  transition: opacity 0.1s ease-in;
}

.dropdown-menu {
  position: relative;
  text-align: center;
}

.dropdown-menu menu {
  display: none;
  position: absolute;
  list-style-type: none;
  z-index: 9999;
  box-shadow: 0 0 2px 0px var(--dark-grey);
  border-radius: 5px;
  background: var(--white);
  transition: all 1s;

}

.dropdown-menu a {
  all: unset;
  display: block;
  cursor: pointer;
  padding: 0.2rem 0;
  height: 100%;
}

.dropdown-menu menu li:first-child:hover {
  border-radius: 5px 5px 0 0;
  background: var(--dark-grey);
  text-shadow: 0 0 3px var(--white);
  color: var(--white);
}

.dropdown-menu menu li:hover {
  background: var(--dark-grey);
  text-shadow: 0 0 3px var(--white);
  color: var(--white);
}

.dropdown-menu menu li:last-child:hover {
  border-radius: 0 0 5px 5px;
  background: var(--dark-grey);
  text-shadow: 0 0 3px var(--white);
  color: var(--white);
}

.dropdown-menu li:first-child a:focus {
  border-radius: 5px 5px 0 0;
  background: var(--dark-grey);
  color: var(--white);
}

.dropdown-menu li a:focus {
  background: var(--dark-grey);
  color: var(--white);
}

.dropdown-menu li:last-child a:focus {
  border-radius: 0 0 5px 5px;
  background: var(--dark-grey);
  color: var(--white);
}

.dropdown-menu a:active {
  text-shadow: none;
}

.main-header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}


.account-layout {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 .75rem;
  margin-right: 2%;
}

/* off canvas menu style */
.main-header nav {
  position: relative;
  padding: 1.5rem 1rem;
  margin-right: auto;
  min-width: 17rem;
}


.main-header .menu-btn {
  display: inline-block;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  z-index: 999;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.main-header .menu-btn i {
  font-size: 2rem;
  cursor: pointer;
}

.main-header .menu-btn:hover {
  text-shadow: 0 0 2px #000;
}

.main-header .menu-btn-cls {
  display: inline-block;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  z-index: 999;
  opacity: 0;
  transition: all 0.2s ease-out;
    cursor: pointer;
}

.main-header .menu-btn-cls i {
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
}

.menu-btn-cls:hover {
  text-shadow: 0 0 3px #fff;
}

#menu-switch {
  display: none;
  position: absolute;
  top: 1.1rem;
  left: 1.6rem;
  transition: all 0.2s ease-out;
}

#menu-switch:checked + label {
  left: 14rem;
  opacity: 0;
  transition: all 0.2s ease-out;
}

#menu-switch:checked ~ .menu-btn-cls {
    left: 14rem;
    opacity: 1;
    transition: all 0.2s ease-out;
}

#menu-switch:checked ~ aside {
      margin-left: 0;
      transition: all 0.2s ease-out;
}

aside {
  height: 100vh;
  width: 17rem;
  padding: 0.5rem 1rem;
  margin-left: -200%;
  position: absolute;
  top: 0;
  left: 0;
  background: #333;
  transition: all 0.2s ease-out;
}

.main-nav-menu {
  display: flex;
  gap: 0.3rem 0;
  flex-flow: column nowrap;
  padding: 3rem 2rem 0 2rem;
  list-style-type: none;
}

.main-nav-menu li {
  font-size: 1.5rem;
  text-wrap: nowrap;
  text-align: center;
  color: #fff;
}

.main-nav-menu li a {
  display: block;
  text-decoration: none;
  outline: none;
  color: #fff;
  border: 1px solid transparent;
}

.main-nav-menu li a:hover {
  text-decoration: underline;
}

.main-nav-menu li a:focus{
  box-shadow: 0 0 3px 0 #fff;
  border-radius: 5px;
}

.main-nav-menu li a:active {
  text-shadow: 0 0 4px #fff;
}

.add-btn-layout {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

.add-btn {
  width: auto;
  background: transparent;
  outline: none;
  font-size: 2rem;
  border: none;
  color: var(--white);
}

.add-btn:hover {
  text-shadow: 0 0 4px #fff;
  background: transparent;
}

.add-btn:focus {
  box-shadow: none;
}

.add-btn:focus i {
  border: 1px solid #fff;
  border-radius: 50%;
}

.add-btn:active {
  text-shadow: none
}

.row-breaker {
  width: 100%;
}

.card {
  all: unset;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 100;
  text-decoration: none;
  cursor: pointer;
  background: var(--white);
  box-shadow: 0 0 3px 0px var(--dark-grey);
}

.card i {
  font-size: 7rem;
}

.card:visited {
  text-decoration: none;
  color: inherit;
}
.card:hover {
  background: #262626;
  color: #fff;
  text-shadow: 0 0 4px #fff;
  border: 1px solid transperent;
}

.card:focus {
  box-shadow: 0 0 5px 0px #262626;
}

.card:active {
  text-shadow: none
}

.card-info {
  margin-left: auto;
  position: absolute;
  top: 2%;
  left: 80%;
  font-size: 2rem;
  color: var(--white);
  width: 2rem;
  height: 2rem;
  padding: 2px;
}

.card-info-text {
  display: none;
  opacity: 0;
  position: absolute;
  top: -4.85rem;
  left: -0.4rem;
  width: 17rem;
  font-size: 1rem;
  padding: 8px;
  color: var(--black);
  box-shadow: 0 0 2px 0 var(--dark-grey);
  border-radius: .75rem;
  background: var(--white);
  text-align: start;
}

.card-info-text::after {
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  left: 1rem;
  bottom: -1.25rem;
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
  border-left: 15px solid var(--white);
  transform: rotate(0.25turn);
}

.card-info:hover .card-info-text {
  display: block;
  opacity: 1;
  transition: opacity 2s ease-out;
}
