main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--black);
  }
  
form {
  display:flex;
  justify-content: center;
  flex-flow: column nowrap;
  max-width: 30rem;
  padding: 1rem 2.5rem;
  min-height: 75vh;
  background: var(--white);
  border-radius: 1rem;
  box-shadow: 0 0 0px 0.25px var(--grey);
}

h1 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: var(--black);
}

.input-wrapper {
  display: flex;
  justify-content: start;
  flex-wrap: nowrap;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.25rem 1rem;
  min-height: 3rem;
  width: 100%;
}

.input-wrapper label{
  font-size: 1.25rem;
}

.form-btn-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

  