main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--black);
  }
  
form {
  display:flex;
  justify-content: center;
  flex-flow: column nowrap;
  max-width: 30rem;
  padding: 1rem 2.5rem;
  min-height: 75vh;
  background: var(--white);
  border-radius: 1rem;
  box-shadow: 0 0 0px 0.25px var(--grey);
}

h1 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: var(--black);
}

.input-wrapper {
  display: flex;
  justify-content: start;
  flex-wrap: nowrap;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.25rem 1rem;
  min-height: 3rem;
  width: 100%;
}

.input-wrapper label{
  font-size: 1.25rem;
}

.form-add-btn-layout {
  display: flex;
}

.form-add-btn {
  width: 2rem;
  background: transparent;
  outline: none;
  font-size: 2rem;
  border: none;
  color: var(--black);
  padding: 0;
  margin-top: 0.2rem;
  cursor: pointer;
}

.form-add-btn:hover {
  background: transparent;
}

.form-add-btn:focus {
  box-shadow: none;
}

.form-add-btn:focus i {
  border: 1px solid var(--black);
  border-radius: 50%;
}

.form-add-btn:active {
  color: var(--grey);
}

.add-cols-widget label {
  margin-right: auto;
}

  
.cols-layout {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
}

.cols-widget-col {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  width: auto;
  text-wrap: nowrap;
  padding: 1rem;
  height: 1rem;
  box-shadow: 0 0 1px 0.4px var(--black);
  border-radius: 1rem;
  text-wrap: nowrap;
  background: var(--light-grey);
}

.add-cols-widget-dlt-btn {
  all: unset;
  margin-left: auto;
  color: var(--grey);
  font-family: monospace;
  cursor: pointer;
}
.add-cols-widget-dlt-btn:hover {
  color: var(--black);
}

.form-btn-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

  