{% load static %}
{% with request.resolver_match.view_name as view_name %}
<!doctype html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="Многоформатный трекер для ведения заметок и проектов.">
        <link rel="stylesheet" href="{% static 'core/css/base.css' %}" />
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <script src="{% static 'core/js/htmx.js' %}" defer></script>
        {% block extrastyle %}{% endblock %}
        {% block title %}<title>Tasks&Boards</title>{% endblock %}
    </head>
    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        {% if view_name  != 'accounts:login' %}
            {% include "includes/header.html" %}
        {% endif %}
        {% block content %}{% endblock %}
    </body>
</html>
{% endwith %}
