{% extends "core/base.html" %}
{% load static %}
{% block extrastyle %}<link rel="stylesheet" href="{% static 'accounts/css/login.css' %}" />{% endblock %}
{% block title %}<title>Tasks&Boards: Вход</title>{% endblock %}
{% block content %}
    <main>
        <header>
            <h1>Tasks & Boards</h1>
            <p>Многоформатный трекер для ведения заметок и совместной работы</p>
        </header>
        <section hx-target="form">
            <menu class="login-menu">
                <button class="login-menu-items" hx-get="{% url 'accounts:signin' %}">Вход</button>
                <button class="login-menu-items" hx-get="{% url 'accounts:signup' %}">Регистрация</button>
            </menu>
            <form action="{% url 'accounts:signin' %}" method="post" novalidate>
                <span hx-get="{% url 'accounts:signin' %}" hx-trigger="load"></span>
            </form>
        </section>
    </main>
{% endblock %}
