{% extends "core/base.html" %}
{% load static %}
{% block extrastyle %}<link rel="stylesheet" href="{% static 'accounts/css/login.css' %}" />{% endblock %}
{% block title %}<title>Tasks&Boards: Вход</title>{% endblock %}
{% block content %}
    <main>
        <header>
            <h1>Tasks & Boards</h1>
            <p>Многоформатный трекер для ведения заметок и совместной работы</p>
        </header>
        <section>
            <menu>
                <a class="login-menu-items" href=""><span>Вход</span></a>
                <a class="login-menu-items" href=""><span>Регистрация</span></a>
            </menu>
            <form action="" method="post">
                <h2>Вход</h2>
                <fieldset>
                    <legend>ПОЧТА</legend>
                    <input id="signin-email" name="email" type="email"></input>
                </fieldset>
                <fieldset>
                    <legend>ПАРОЛЬ</legend>
                    <input  id="signin-password" name="password" type="password"></input>
                </fieldset>
                <p class="password-reset-lnk">Забыли пароль? <a href="">Востановить пароль</a></p>
                <div class="login-btn-layout">
                    <button class="btn" type="submit">
                        <span>Вход</span>
                    </button>
                </div>
            </form>
        </section>
    </main>
{% endblock %}