<div class="input-wrapper">
    {{ formset.management_form }}
    <div class="cols-widget" data-cols-widget>
        <label>Коллонки</label>
        <div class="row-breaker"></div>
        <input class="form-field-text" type="text" data-cols-widget-input><button class="btn add-col-btn" data-cols-widget-add-col-btn>+</button>
        <div class="row-breaker"></div>
        <div class="cols-layout" data-cols-widget-output>
            {% for form in formset %}
                {% if form %}
                    <fieldset name="col" class="col">
                        {{ form.name }}
                        {{ form.position }}
                        <div class="col-order-btns-layout">
                            <button class="btn" data-cols-widget-up-col-btn>▲</button>
                            <button class="btn" data-cols-widget-down-col-btn>▼</button>
                        </div>
                        <button class="del-col-btn btn" data-cols-widget-del-col-btn>X</button>
                    </fieldset>
                {% endif %}
            {% endfor %}
        </div>
        <script src="{% static "boards/columns_widget.js" %}" defer></script>
    </div>
</div>
