{% extends "core/base.html" %}
{% load static %}
{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'boards/css/create_board.css' %}" />
{% endblock %}
{% block content %}
    <main>
        <div class="content-layout">
            <a hx-boost="false" href="{% url "boards:create_kanban" %}" class="card">
                <div class="card-info">
                    <p class="card-info-text">Канбан это система управления проектами основанная на колоночном макете.</p>
                    <span>!</span>
                </div>
                <h2>Канбан</h2>
                <i class="bx bx-plus-circle" ></i>
            </a>
        </div>
    </main>
{% endblock %}