{% extends "core/base.html" %}
{% load static %}
{% block extrastyle %}<link href="{% static "boards/css/create_kanban.css" %}" rel="stylesheet"/>{% endblock %}
{% block content %}
    <main>
        <form>
            <h1>Создание доски</h1>
            {% if form.non_field_errors %}
                {{ form.non_field_errors }}
            {% endif %}
            {% for field in form %}
            <div class="input-wrapper">
                <label for={{ field.id_for_label }}>{{ field.label }}</label>
                {{ field }}
                <div class="row-breaker"></div>
                {% if field.errors %}
                    {{ field.errors }}
                {% endif %}
            </div>
            {% endfor %}
            <div class="form-btn-layout">
                <button class="btn" type="submit">
                    <span>Сохранить</span>
                </button>
            </div> 
        </form>
    </main>
{% endblock %}