{% extends "core/base.html" %}
{% load static %}
{% block extrastyle %}<link href="{% static "boards/css/create_kanban.css" %}" rel="stylesheet"/>{% endblock %}
{% block content %}
    <main>
        <form action="{% url "boards:create_kanban" %}" method="post">
            {% csrf_token %}
            <h1>Создание доски</h1>
            {% if form.non_field_errors %}
                {{ form.non_field_errors }}
            {% endif %}
            {% for field in form %}
            <div class="input-wrapper">
                <label for={{ field.id_for_label }}>{{ field.label }}</label>
                {{ field }}
                <div class="row-breaker"></div>
                {% if field.errors %}
                    {{ field.errors }}
                {% endif %}
            </div>
            {% endfor %}
            <div class="input-wrapper">
                {{ formset.management_form }}
                <div class="cols-widget" data-cols-widget>
                    <label>Коллонки</label>
                    <div class="row-breaker"></div>
                    <input class="form-field-text" type="text" data-cols-widget-input>
                    <button type="button" class="btn" data-cols-widget-add-col-btn>Добавить</button>
                    <div class="row-breaker"></div>
                    <div class="cols-layout" data-cols-widget-output>
                        {% for form in formset %}
                            {% if form %}
                                <div class="col">
                                    {{ form.name }}
                                    {{ form.position }}
                                    <div class="col-order-btns-layout">
                                        <button type="button" class="btn" data-cols-widget-up-col-btn>▲</button>
                                        <button type="button" class="btn" data-cols-widget-down-col-btn>▼</button>
                                    </div>
                                    <button type="button" class="btn del-col-btn" data-cols-widget-del-col-btn>X</button>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <script src="{% static "boards/js/columns_widget.js" %}" defer></script>
                </div>
            </div>
            <div class="form-btn-layout">
                <button class="btn" type="submit">
                    <span>Сохранить</span>
                </button>
            </div>
        </form>
    </main>
{% endblock %}
